*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.welcome {
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
  }
.flex {
    display: flex;
    padding-top: 90px; 
  }
.text-area {
    width: 60%;
    padding:0 50px;
  }
  .img-area {
    width: 40%;
    padding: 0 50px;
  }

  h1 {
    font-size: 55px;
  }
  .text-area h1 span {
    color: #F9765E;
  }
 
  .text-area h4 {
    font-size: 28px;
    margin-top: 17px;
    margin-bottom: 10px;
  }

  .img-area img {
    width: 100%;
  }
  button {
    padding: 10px 50px;
    font-size: 18px;
    background-image: linear-gradient(45deg,#FFA032,#FFCB1B);
    border: none;
    color: #fff;
    border-radius: 5px;
    margin-top: 50px;
    box-shadow: 5px 5px 40px gray;
    text-transform: uppercase;
    cursor: pointer;
  }

  .dream {
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right 0 top 190px;
  }

  /* card section */
  .exprience-area {
    padding-left: 50px;
    margin-top: 90px;
  }
  .card-area {
    padding-top: 50px;
  }

  .card-box {
    width: 50%;
    padding: 70px 50px;
    box-shadow: 10px 10px 40px #B9B9B9;
    margin: 0 50px 0 0;
    border-radius: 10px;
  }
  .card-border-1{border-left: 8px solid #31A6ED;}
  .card-border-2{border-left: 8px solid #7040D9;}

  .card-title {
    font-size: 36px;
  }

  .card-sub-title {
    margin: 15px 0;
    color: #FEBD22;
    font-size: 22px;
  }

  .card-text {
    font-size: 16px;
    color:#aaa9a9
  }

  footer{
    text-align: center;
    padding: 150px 0 50px ;
  }


  @media screen and (min-width: 320px) and (max-width: 992px) {
    h1{font-size: 39px;}
    h2{font-size: 32px;}
    h4{font-size: 20px;}
    .card-title{
        font-size: 32px;
    }
    .order-2{order: 2;}
    .order-1{order: 1;}
      
    p{
        padding-right: 5px;
        overflow-x: hidden;
    }
    .flex {
        flex-direction: column;
      }

      .text-area {
        width: 100%;
        padding:0 30px;
        margin-bottom: 50px;
      }
      .img-area {
        width: 100%;
        padding: 0 30px;
        margin-bottom: 20px;
      }

      .card-box {
        width: 100%;
        padding: 50px 10px;
        box-shadow: 10px 10px 40px #B9B9B9;
        margin: 0 0 50px 0px;
        border-radius: 10px;
      }
      .exprience-area {
        padding-left: 0px;
        margin: 50px 30px 0;
      }

      footer{
        padding: 90px 0 50px ;
      }
  }

